@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&family=El+Messiri:wght@600;700&display=swap');
@import "tailwindcss";
:root{
  --background: rgb(213, 210, 185);
  --primary-color: rgb(62, 84, 67);
  --second-color: rgb(242, 230, 206);

  --text-color: rgb(90, 90, 90);          
  --heading-color: rgb(109, 92, 72);

  --font-heading: 'El Messiri', sans-serif;
  --font-body: 'Cairo', sans-serif;
}
html,body{

  scroll-behavior: smooth;
}
*{
  @apply m-0 p-0 box-border;
  list-style: none;
  direction: rtl;
  text-decoration: none;
  z-index: 1;
}

.container{
  margin: 0 auto ;
  @apply w-[98%] lg:w-[90%] md:w-[95%] ;
}

section{
  margin-bottom: 2rem;
}